default: &default
  adapter: postgresql
  encoding: unicode
  # For details on connection pooling, see Rails configuration guide
  # https://guides.rubyonrails.org/configuring.html#database-pooling
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>

development:
  <<: *default
  database: yis_development

test:
  <<: *default
  username: <%= ENV['PGUSER'] %>
  password: <%= ENV['PGPASS'] %>
  database: yis_test
  host: localhost

production:
  <<: *default
  database: yis_production
