default: &default
  adapter: postgresql
  username: postgres
  password: postgres

development:
  <<: *default
  database: yis_development

test:
  <<: *default
  database: yis_test

production:
  <<: *default
  database: yis_production
