.container
  %h1.title RELEASES
  #timeline
    - @releases.each do |r|
      .timeline-item
        .timeline-icon
        .timeline-ago
          %span
            = "#{time_ago_in_words(r.release_date_time)} ago"
        .timeline-content
          %h2
            = link_to(r.project, r.project_url)
            = link_to(r.version, r.release_url)
